In [27]:
#group by and aggregate function

!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\varad\appdata\roaming\python\python312\site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\varad\appdata\roaming\python\python312\site-packages (from pyspark) (0.10.9.7)

In [28]:
from pyspark.sql import SparkSession

In [29]:
spark=SparkSession.builder.appName('dataFrame').getOrCreate()

In [30]:
spark

In [31]:
df_pyspark=spark.read.csv(r'C:\Users\varad\OneDrive\Desktop\py_spark5.csv',inferSchema=True,header='true')

In [32]:
df_pyspark.show()

+--------+----------+------+
|    name|department|salary|
+--------+----------+------+
|  varada|        DS|100000|
|vallabha|       SSE|120000|
| gayatri|       Tch|130000|
|  varada|        DS|150000|
|  chandr|        JE| 90000|
|vallabha|       SSE|100000|
| gayatri|       Tch|125000|
|vallabha|       SSE|205000|
|  varada|        DS| 60000|
|  chandr|        JE|100000|
+--------+----------+------+

In [33]:
df_pyspark.na.drop().show()

+--------+----------+------+
|    name|department|salary|
+--------+----------+------+
|  varada|        DS|100000|
|vallabha|       SSE|120000|
| gayatri|       Tch|130000|
|  varada|        DS|150000|
|  chandr|        JE| 90000|
|vallabha|       SSE|100000|
| gayatri|       Tch|125000|
|vallabha|       SSE|205000|
|  varada|        DS| 60000|
|  chandr|        JE|100000|
+--------+----------+------+

In [34]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [35]:
##group by

df_pyspark.groupBy('name').sum('salary').show()

+--------+-----------+
|    name|sum(salary)|
+--------+-----------+
|  chandr|     190000|
| gayatri|     255000|
|vallabha|     425000|
|  varada|     310000|
+--------+-----------+

In [38]:
df_pyspark.groupBy('department').sum().show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|       SSE|     425000|
|       Tch|     255000|
|        DS|     310000|
|        JE|     190000|
+----------+-----------+

In [39]:
df_pyspark.groupBy('department').mean().show()

+----------+------------------+
|department|       avg(salary)|
+----------+------------------+
|       SSE|141666.66666666666|
|       Tch|          127500.0|
|        DS|103333.33333333333|
|        JE|           95000.0|
+----------+------------------+

In [65]:
#df_alias=df_pyspark.groupBy('department').count().select('count')

In [66]:
#summing a column

df_alias.agg({'count':'sum'}).show()

+----------+
|sum(count)|
+----------+
|        10|
+----------+

In [67]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|    1180000|
+-----------+

In [69]:
df_pyspark.groupBy('department').avg().show()

+----------+------------------+
|department|       avg(salary)|
+----------+------------------+
|       SSE|141666.66666666666|
|       Tch|          127500.0|
|        DS|103333.33333333333|
|        JE|           95000.0|
+----------+------------------+