In [84]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\varad\appdata\roaming\python\python312\site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\varad\appdata\roaming\python\python312\site-packages (from pyspark) (0.10.9.7)

In [85]:
from pyspark.sql import SparkSession

In [86]:
spark=SparkSession.builder.appName('dataFrame').getOrCreate()

In [87]:
spark

In [88]:
##read the dataset
df_pyspark=spark.read.option('header','true').csv(r'C:\Users\varad\OneDrive\Desktop\pyspark_data_1.csv')

In [89]:
df_pyspark.printSchema()

#it is taking all attributes as strings though there are some integere inputs

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)

In [90]:
df_pyspark=spark.read.option('header','true').csv(r'C:\Users\varad\OneDrive\Desktop\pyspark_data_1.csv',inferSchema=True)

In [91]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [92]:
df_pyspark=spark.read.csv(r'C:\Users\varad\OneDrive\Desktop\pyspark_data_1.csv',header=True,inferSchema=True)

In [93]:
df_pyspark.printSchema()  # to check datatype of attributes

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [94]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [95]:
df_pyspark.columns

['name', 'age', 'experience']

In [96]:
df_pyspark.head(3)

[Row(name='varada', age=28, experience=10),
 Row(name='vallabha', age=32, experience=15),
 Row(name='gayatri', age=64, experience=35)]

In [97]:
df_pyspark.show()  #selecting columns

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
|  varada| 28|        10|
|vallabha| 32|        15|
| gayatri| 64|        35|
+--------+---+----------+

In [98]:
df_pyspark.select('name')

DataFrame[name: string]

In [99]:
df_pyspark.select('name').show()

+--------+
|    name|
+--------+
|  varada|
|vallabha|
| gayatri|
+--------+

In [100]:
type(df_pyspark.select('name'))

pyspark.sql.dataframe.DataFrame

In [101]:
df_pyspark.select('name','experience').show()

+--------+----------+
|    name|experience|
+--------+----------+
|  varada|        10|
|vallabha|        15|
| gayatri|        35|
+--------+----------+

In [102]:
df_pyspark['Name']

Column<'Name'>

In [103]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [104]:
df_pyspark.describe

In [105]:
df_pyspark.describe().show()

+-------+-------+------------------+------------------+
|summary|   name|               age|        experience|
+-------+-------+------------------+------------------+
|  count|      3|                 3|                 3|
|   mean|   NULL|41.333333333333336|              20.0|
| stddev|   NULL| 19.73153144926499|13.228756555322953|
|    min|gayatri|                28|                10|
|    max| varada|                64|                35|
+-------+-------+------------------+------------------+

In [106]:
#adding columns in data frame

df_pyspark.withColumn('experience after two years',df_pyspark['experience']+2)

DataFrame[name: string, age: int, experience: int, experience after two years: int]

In [107]:

df_pyspark=df_pyspark.withColumn('experience after two years',df_pyspark['experience']+2)

In [108]:
df_pyspark.show()

+--------+---+----------+--------------------------+
|    name|age|experience|experience after two years|
+--------+---+----------+--------------------------+
|  varada| 28|        10|                        12|
|vallabha| 32|        15|                        17|
| gayatri| 64|        35|                        37|
+--------+---+----------+--------------------------+

In [109]:
###Drop the columns 

df_pyspark=df_pyspark.drop('experience after two years')

In [110]:
df_pyspark.show()

+--------+---+----------+
|    name|age|experience|
+--------+---+----------+
|  varada| 28|        10|
|vallabha| 32|        15|
| gayatri| 64|        35|
+--------+---+----------+

In [111]:
###rename the column 

df_pyspark=df_pyspark.withColumnRenamed('name','person_name')

In [112]:
df_pyspark.show()

+-----------+---+----------+
|person_name|age|experience|
+-----------+---+----------+
|     varada| 28|        10|
|   vallabha| 32|        15|
|    gayatri| 64|        35|
+-----------+---+----------+