In [47]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\varad\appdata\roaming\python\python312\site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\varad\appdata\roaming\python\python312\site-packages (from pyspark) (0.10.9.7)

In [48]:
from pyspark.sql import SparkSession

In [49]:
spark=SparkSession.builder.appName('dataFrame').getOrCreate()

In [50]:
spark

In [51]:
df_pyspark=spark.read.option('header','true').csv(r'C:\Users\varad\OneDrive\Desktop\pyspark_data_2.csv',inferSchema=True)

In [52]:
df_pyspark.show()

+--------------+----+----------+------+
|          name| age|experience|salary|
+--------------+----+----------+------+
|        varada|  28|         2| 30000|
|      vallabha|  33|         5| 50000|
|       gayatri|  62|        34| 60000|
|chandrashekhar|  72|        45| 70000|
|      rakshita|  26|         5| 50000|
|       sankhya|  24|         2| 60000|
|          vish|  28|         3| 40000|
|        akshay|  28|         7| 80000|
|        adarsh|  28|         5| 80000|
|       darshan|  28|         5| 30000|
|       mahesh |NULL|      NULL| 40000|
|          NULL|  39|      NULL|  NULL|
|          NULL|  38|         6|  NULL|
+--------------+----+----------+------+

In [53]:
#drop column
df_pyspark.drop('name').show()

+----+----------+------+
| age|experience|salary|
+----+----------+------+
|  28|         2| 30000|
|  33|         5| 50000|
|  62|        34| 60000|
|  72|        45| 70000|
|  26|         5| 50000|
|  24|         2| 60000|
|  28|         3| 40000|
|  28|         7| 80000|
|  28|         5| 80000|
|  28|         5| 30000|
|NULL|      NULL| 40000|
|  39|      NULL|  NULL|
|  38|         6|  NULL|
+----+----------+------+

In [54]:
df_pyspark.show()

+--------------+----+----------+------+
|          name| age|experience|salary|
+--------------+----+----------+------+
|        varada|  28|         2| 30000|
|      vallabha|  33|         5| 50000|
|       gayatri|  62|        34| 60000|
|chandrashekhar|  72|        45| 70000|
|      rakshita|  26|         5| 50000|
|       sankhya|  24|         2| 60000|
|          vish|  28|         3| 40000|
|        akshay|  28|         7| 80000|
|        adarsh|  28|         5| 80000|
|       darshan|  28|         5| 30000|
|       mahesh |NULL|      NULL| 40000|
|          NULL|  39|      NULL|  NULL|
|          NULL|  38|         6|  NULL|
+--------------+----+----------+------+

In [55]:
df_pyspark.na.drop().show()   #rows with null values are deleted when we use .na.drop

+--------------+---+----------+------+
|          name|age|experience|salary|
+--------------+---+----------+------+
|        varada| 28|         2| 30000|
|      vallabha| 33|         5| 50000|
|       gayatri| 62|        34| 60000|
|chandrashekhar| 72|        45| 70000|
|      rakshita| 26|         5| 50000|
|       sankhya| 24|         2| 60000|
|          vish| 28|         3| 40000|
|        akshay| 28|         7| 80000|
|        adarsh| 28|         5| 80000|
|       darshan| 28|         5| 30000|
+--------------+---+----------+------+

In [56]:
###any==how
df_pyspark.na.drop(how='any').show()

+--------------+---+----------+------+
|          name|age|experience|salary|
+--------------+---+----------+------+
|        varada| 28|         2| 30000|
|      vallabha| 33|         5| 50000|
|       gayatri| 62|        34| 60000|
|chandrashekhar| 72|        45| 70000|
|      rakshita| 26|         5| 50000|
|       sankhya| 24|         2| 60000|
|          vish| 28|         3| 40000|
|        akshay| 28|         7| 80000|
|        adarsh| 28|         5| 80000|
|       darshan| 28|         5| 30000|
+--------------+---+----------+------+

In [57]:
#threshold...atmost threshold null values should be there
df_pyspark.na.drop(how='any',thresh=2).show()

+--------------+----+----------+------+
|          name| age|experience|salary|
+--------------+----+----------+------+
|        varada|  28|         2| 30000|
|      vallabha|  33|         5| 50000|
|       gayatri|  62|        34| 60000|
|chandrashekhar|  72|        45| 70000|
|      rakshita|  26|         5| 50000|
|       sankhya|  24|         2| 60000|
|          vish|  28|         3| 40000|
|        akshay|  28|         7| 80000|
|        adarsh|  28|         5| 80000|
|       darshan|  28|         5| 30000|
|       mahesh |NULL|      NULL| 40000|
|          NULL|  38|         6|  NULL|
+--------------+----+----------+------+

In [58]:
##subset

df_pyspark.na.drop(how='any',subset=['experience']).show()

+--------------+---+----------+------+
|          name|age|experience|salary|
+--------------+---+----------+------+
|        varada| 28|         2| 30000|
|      vallabha| 33|         5| 50000|
|       gayatri| 62|        34| 60000|
|chandrashekhar| 72|        45| 70000|
|      rakshita| 26|         5| 50000|
|       sankhya| 24|         2| 60000|
|          vish| 28|         3| 40000|
|        akshay| 28|         7| 80000|
|        adarsh| 28|         5| 80000|
|       darshan| 28|         5| 30000|
|          NULL| 38|         6|  NULL|
+--------------+---+----------+------+

In [59]:
df_pyspark.na.drop(how='any',subset=['name']).show()

+--------------+----+----------+------+
|          name| age|experience|salary|
+--------------+----+----------+------+
|        varada|  28|         2| 30000|
|      vallabha|  33|         5| 50000|
|       gayatri|  62|        34| 60000|
|chandrashekhar|  72|        45| 70000|
|      rakshita|  26|         5| 50000|
|       sankhya|  24|         2| 60000|
|          vish|  28|         3| 40000|
|        akshay|  28|         7| 80000|
|        adarsh|  28|         5| 80000|
|       darshan|  28|         5| 30000|
|       mahesh |NULL|      NULL| 40000|
+--------------+----+----------+------+

In [60]:
##filling missing value 

df_pyspark.na.fill('missing values').show()

+--------------+----+----------+------+
|          name| age|experience|salary|
+--------------+----+----------+------+
|        varada|  28|         2| 30000|
|      vallabha|  33|         5| 50000|
|       gayatri|  62|        34| 60000|
|chandrashekhar|  72|        45| 70000|
|      rakshita|  26|         5| 50000|
|       sankhya|  24|         2| 60000|
|          vish|  28|         3| 40000|
|        akshay|  28|         7| 80000|
|        adarsh|  28|         5| 80000|
|       darshan|  28|         5| 30000|
|       mahesh |NULL|      NULL| 40000|
|missing values|  39|      NULL|  NULL|
|missing values|  38|         6|  NULL|
+--------------+----+----------+------+

In [61]:
df_pyspark.na.fill(0,['experience','age']).show()

+--------------+---+----------+------+
|          name|age|experience|salary|
+--------------+---+----------+------+
|        varada| 28|         2| 30000|
|      vallabha| 33|         5| 50000|
|       gayatri| 62|        34| 60000|
|chandrashekhar| 72|        45| 70000|
|      rakshita| 26|         5| 50000|
|       sankhya| 24|         2| 60000|
|          vish| 28|         3| 40000|
|        akshay| 28|         7| 80000|
|        adarsh| 28|         5| 80000|
|       darshan| 28|         5| 30000|
|       mahesh |  0|         0| 40000|
|          NULL| 39|         0|  NULL|
|          NULL| 38|         6|  NULL|
+--------------+---+----------+------+

In [62]:
df_pyspark.show()

+--------------+----+----------+------+
|          name| age|experience|salary|
+--------------+----+----------+------+
|        varada|  28|         2| 30000|
|      vallabha|  33|         5| 50000|
|       gayatri|  62|        34| 60000|
|chandrashekhar|  72|        45| 70000|
|      rakshita|  26|         5| 50000|
|       sankhya|  24|         2| 60000|
|          vish|  28|         3| 40000|
|        akshay|  28|         7| 80000|
|        adarsh|  28|         5| 80000|
|       darshan|  28|         5| 30000|
|       mahesh |NULL|      NULL| 40000|
|          NULL|  39|      NULL|  NULL|
|          NULL|  38|         6|  NULL|
+--------------+----+----------+------+

In [63]:
from pyspark.ml.feature import Imputer

In [68]:
imputer = Imputer(
    inputCols=['age','experience','salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','experience','salary']]).setStrategy("mean")

In [69]:
##add imputed columns to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------------+----+----------+------+-----------+------------------+--------------+
|          name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+--------------+----+----------+------+-----------+------------------+--------------+
|        varada|  28|         2| 30000|         28|                 2|         30000|
|      vallabha|  33|         5| 50000|         33|                 5|         50000|
|       gayatri|  62|        34| 60000|         62|                34|         60000|
|chandrashekhar|  72|        45| 70000|         72|                45|         70000|
|      rakshita|  26|         5| 50000|         26|                 5|         50000|
|       sankhya|  24|         2| 60000|         24|                 2|         60000|
|          vish|  28|         3| 40000|         28|                 3|         40000|
|        akshay|  28|         7| 80000|         28|                 7|         80000|
|        adarsh|  28|         5| 80000|         28|                 5|         80000|
|       darshan|  28|         5| 30000|         28|                 5|         30000|
|       mahesh |NULL|      NULL| 40000|         36|                10|         40000|
|          NULL|  39|      NULL|  NULL|         39|                10|         53636|
|          NULL|  38|         6|  NULL|         38|                 6|         53636|
+--------------+----+----------+------+-----------+------------------+--------------+

In [70]:
imputer = Imputer(
    inputCols=['age','experience','salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','experience','salary']]).setStrategy("median")

In [71]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------------+----+----------+------+-----------+------------------+--------------+
|          name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+--------------+----+----------+------+-----------+------------------+--------------+
|        varada|  28|         2| 30000|         28|                 2|         30000|
|      vallabha|  33|         5| 50000|         33|                 5|         50000|
|       gayatri|  62|        34| 60000|         62|                34|         60000|
|chandrashekhar|  72|        45| 70000|         72|                45|         70000|
|      rakshita|  26|         5| 50000|         26|                 5|         50000|
|       sankhya|  24|         2| 60000|         24|                 2|         60000|
|          vish|  28|         3| 40000|         28|                 3|         40000|
|        akshay|  28|         7| 80000|         28|                 7|         80000|
|        adarsh|  28|         5| 80000|         28|                 5|         80000|
|       darshan|  28|         5| 30000|         28|                 5|         30000|
|       mahesh |NULL|      NULL| 40000|         28|                 5|         40000|
|          NULL|  39|      NULL|  NULL|         39|                 5|         50000|
|          NULL|  38|         6|  NULL|         38|                 6|         50000|
+--------------+----+----------+------+-----------+------------------+--------------+

In [72]:
imputer = Imputer(
    inputCols=['age','experience','salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','experience','salary']]).setStrategy("mode")

In [73]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------------+----+----------+------+-----------+------------------+--------------+
|          name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+--------------+----+----------+------+-----------+------------------+--------------+
|        varada|  28|         2| 30000|         28|                 2|         30000|
|      vallabha|  33|         5| 50000|         33|                 5|         50000|
|       gayatri|  62|        34| 60000|         62|                34|         60000|
|chandrashekhar|  72|        45| 70000|         72|                45|         70000|
|      rakshita|  26|         5| 50000|         26|                 5|         50000|
|       sankhya|  24|         2| 60000|         24|                 2|         60000|
|          vish|  28|         3| 40000|         28|                 3|         40000|
|        akshay|  28|         7| 80000|         28|                 7|         80000|
|        adarsh|  28|         5| 80000|         28|                 5|         80000|
|       darshan|  28|         5| 30000|         28|                 5|         30000|
|       mahesh |NULL|      NULL| 40000|         28|                 5|         40000|
|          NULL|  39|      NULL|  NULL|         39|                 5|         30000|
|          NULL|  38|         6|  NULL|         38|                 6|         30000|
+--------------+----+----------+------+-----------+------------------+--------------+