In [14]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\varad\appdata\roaming\python\python312\site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\varad\appdata\roaming\python\python312\site-packages (from pyspark) (0.10.9.7)

In [15]:
from pyspark.sql import SparkSession

In [19]:
spark=SparkSession.builder.appName('dataFrame').getOrCreate()

In [20]:
df_pyspark=spark.read.option('header','true').csv(r'C:\Users\varad\OneDrive\Desktop\pyspark_data_2.csv',inferSchema=True)

In [21]:
df_pyspark.show()

+--------------+----+----------+------+
|          name| age|experience|salary|
+--------------+----+----------+------+
|        varada|  28|         2| 30000|
|      vallabha|  33|         5| 50000|
|       gayatri|  62|        34| 60000|
|chandrashekhar|  72|        45| 70000|
|      rakshita|  26|         5| 50000|
|       sankhya|  24|         2| 60000|
|          vish|  28|         3| 40000|
|        akshay|  28|         7| 80000|
|        adarsh|  28|         5| 80000|
|       darshan|  28|         5| 30000|
|       mahesh |NULL|      NULL| 40000|
|          NULL|  39|      NULL|  NULL|
|          NULL|  38|         6|  NULL|
+--------------+----+----------+------+

In [24]:
df_pyspark=df_pyspark.na.drop()

In [25]:
df_pyspark.show()

+--------------+---+----------+------+
|          name|age|experience|salary|
+--------------+---+----------+------+
|        varada| 28|         2| 30000|
|      vallabha| 33|         5| 50000|
|       gayatri| 62|        34| 60000|
|chandrashekhar| 72|        45| 70000|
|      rakshita| 26|         5| 50000|
|       sankhya| 24|         2| 60000|
|          vish| 28|         3| 40000|
|        akshay| 28|         7| 80000|
|        adarsh| 28|         5| 80000|
|       darshan| 28|         5| 30000|
+--------------+---+----------+------+

In [27]:
#filter operations

df_pyspark.filter("salary<=50000").show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|  varada| 28|         2| 30000|
|vallabha| 33|         5| 50000|
|rakshita| 26|         5| 50000|
|    vish| 28|         3| 40000|
| darshan| 28|         5| 30000|
+--------+---+----------+------+

In [28]:
df_pyspark.filter('salary<=50000').select(['name','age']).show()

+--------+---+
|    name|age|
+--------+---+
|  varada| 28|
|vallabha| 33|
|rakshita| 26|
|    vish| 28|
| darshan| 28|
+--------+---+

In [33]:
df_pyspark.filter('salary<=50000').filter('age<28').show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|rakshita| 26|         5| 50000|
+--------+---+----------+------+

In [40]:
df_pyspark.filter((df_pyspark['salary']<=50000 )& 
                  (df_pyspark['age']<=28)).select(['name','age']).show()

+--------+---+
|    name|age|
+--------+---+
|  varada| 28|
|rakshita| 26|
|    vish| 28|
| darshan| 28|
+--------+---+

In [41]:
df_pyspark.filter((df_pyspark['salary']<=50000 ) |
                  (df_pyspark['age']<=28)).select(['name','age']).show()

+--------+---+
|    name|age|
+--------+---+
|  varada| 28|
|vallabha| 33|
|rakshita| 26|
| sankhya| 24|
|    vish| 28|
|  akshay| 28|
|  adarsh| 28|
| darshan| 28|
+--------+---+

In [42]:
# not operation

df_pyspark.filter(~(df_pyspark['salary']<=50000) ).select(['name','age']).show()

+--------------+---+
|          name|age|
+--------------+---+
|       gayatri| 62|
|chandrashekhar| 72|
|       sankhya| 24|
|        akshay| 28|
|        adarsh| 28|
+--------------+---+