In [49]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\varad\appdata\roaming\python\python312\site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\varad\appdata\roaming\python\python312\site-packages (from pyspark) (0.10.9.7)

In [50]:
from pyspark.sql import SparkSession

In [51]:
spark=SparkSession.builder.appName('dataFrame').getOrCreate()

In [52]:
spark

In [53]:
training=spark.read.option('header','true').csv(r'C:\Users\varad\OneDrive\Desktop\pyspark_data_2.csv',inferSchema=True)

In [54]:
training.show()

+--------------+----+----------+------+
|          name| age|experience|salary|
+--------------+----+----------+------+
|        varada|  28|         2| 30000|
|      vallabha|  33|         5| 50000|
|       gayatri|  62|        34| 60000|
|chandrashekhar|  72|        45| 70000|
|      rakshita|  26|         5| 50000|
|       sankhya|  24|         2| 60000|
|          vish|  28|         3| 40000|
|        akshay|  28|         7| 80000|
|        adarsh|  28|         5| 80000|
|       darshan|  28|         5| 30000|
|       mahesh |NULL|      NULL| 40000|
|          NULL|  39|      NULL|  NULL|
|          NULL|  38|         6|  NULL|
+--------------+----+----------+------+

In [55]:
training=training.na.drop(how='any')

In [56]:
training.columns

['name', 'age', 'experience', 'salary']

In [57]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['age','experience'],outputCol='independent features')

In [58]:
output= featureassembler.transform(training)

In [59]:
output.show()

+--------------+---+----------+------+--------------------+
|          name|age|experience|salary|independent features|
+--------------+---+----------+------+--------------------+
|        varada| 28|         2| 30000|          [28.0,2.0]|
|      vallabha| 33|         5| 50000|          [33.0,5.0]|
|       gayatri| 62|        34| 60000|         [62.0,34.0]|
|chandrashekhar| 72|        45| 70000|         [72.0,45.0]|
|      rakshita| 26|         5| 50000|          [26.0,5.0]|
|       sankhya| 24|         2| 60000|          [24.0,2.0]|
|          vish| 28|         3| 40000|          [28.0,3.0]|
|        akshay| 28|         7| 80000|          [28.0,7.0]|
|        adarsh| 28|         5| 80000|          [28.0,5.0]|
|       darshan| 28|         5| 30000|          [28.0,5.0]|
+--------------+---+----------+------+--------------------+

In [60]:
final_data= output.select('independent features','salary')

In [61]:
from pyspark.ml.regression import LinearRegression

#training test splitting
train_data,test_data=final_data.randomSplit([0.7,0.3])
regressor=LinearRegression(featuresCol='independent features',labelCol='salary')
regressor=regressor.fit(train_data)

In [62]:
regressor.coefficients

DenseVector([-3179.3226, 4005.3883])

In [63]:
regressor.intercept

120379.46472074854

In [64]:
#prediciton
pred_results=regressor.evaluate(test_data)

In [66]:
pred_results.predictions.show()

+--------------------+------+------------------+
|independent features|salary|        prediction|
+--------------------+------+------------------+
|          [28.0,5.0]| 80000|51385.374689740784|
+--------------------+------+------------------+